<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</matt-header-cell>
    <matt-cell *matCellDef="let element">{{ element.date | date }}</matt-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</matt-header-cell>
    <matt-cell *matCellDef="let element">{{ element.name }}</matt-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef>Calories</matt-header-cell>
    <matt-cell *matCellDef="let element">{{ element.calories | number }}</matt-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef>Duration</matt-header-cell>
    <matt-cell *matCellDef="let element">{{ element.duration | number }}</matt-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef>State</matt-header-cell>
    <matt-cell *matCellDef="let element">{{ element.state }}</matt-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displatedColumns"></mat-header-row>
  <mat-row *matHeaderRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
